<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons display-4">menu</i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-item">Home</div>
    <div class="dropdown-item">Products &amp; Services</div>
      <div class="dropdown-item ps-item"><i class="material-icons">keyboard_arrow_right</i>Merchant Services</div>
      <div class="dropdown-item ps-item"><i class="material-icons">keyboard_arrow_right</i>Bank Services</div>
      <div class="dropdown-item ps-item"><i class="material-icons">keyboard_arrow_right</i>Web Services</div>
    <div class="dropdown-item">Our Team</div>
      <div class="dropdown-item">Careers</div>
        <div class="dropdown-item c-item"><i class="material-icons">keyboard_arrow_right</i>TFE Program</div>
        <div class="dropdown-item c-item"><i class="material-icons">keyboard_arrow_right</i>Openings</div>
      <div class="dropdown-item">Contact</div>
      <div class="dropdown-item">Search</div>
  </div>
</div>

<div id="logo_div">
    <img src="resources/images/logo.png" width="200" alt="MK Decision Logo">
</div>

<div id="splash_content" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="resources/images/man-coffee-cup-pen-Edited%20for%20website.jpg" alt="First slide">
        <div class="carousel-caption d-block d-md-block">
            <h1 class="display-4">MK Decision</h1>
    <h2>Launch Your Business Online</h2>
            <p class="carousel-info">MK helps small & medium sized businesses implement technology to improve profitability and customer engagement</p>
    <p><button type="button" class="btn btn-success btn-lg">Click here to get Started NOW</button></p>
  </div>
    </div>
  </div>
</div>